{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %} {{parent()}} {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
        </ul>
        <hr>
        <span>Vue JS just down here</span>

        {# 
            Ici nous avons deux props, une 'static' et une 'dynamic', voici des docs pour comprendre correctement :
            1 : https://fr.vuejs.org/v2/guide/components-props.html
            2 : https://www.mikestreety.co.uk/blog/using-dynamic-and-static-attributes-and-props-with-components-and-html-elements-video
        #}
        <div id="app">
            <test elem="{{ controller_name }}" :datas="{{ datas|json_encode()|raw|e('html_attr') }}"></test>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
