<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('./build/app.css') }}">
            <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div id="app">
            {% block body %}
                    <vue-menu></vue-menu>
                    <dico></dico>
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('./build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
