<template>
    <div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ this.mot }}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from "vue";

export default {
    name: 'dico',
    data: {
        return {
            mots:[
                mot,
                definition
            ]
        },
    },
    methods: {
        addWord: function () {
            this.mot = console.log("Saisir votre mot :");
            this.definition = console.log("Saisir la définition du mot :");

        }
    }

}

</script>

<style scoped>
    div.card {
        border-bottom: 1px solid rgba(0,0,0,0.125);
    }
</style>
