<template>
    <div>
        <span v-if="elem1" class="test-vue">
            This is the : "{{ elem1 }}" and this text is write with vuejs.
        </span>
        <br>
        This is the counter : <button v-if="numb > 0" v-on:click="less()">-</button> {{ numb }} <button v-on:click="plus()">+</button>
        <hr>
        <h4>Ce qui suit est un exemple d'ajax de modification de données avec vuejs</h4>
        <hr>
        <div>
            <span>Mes fruits préférés : </span>
            <ul v-for="(favorite, index) in favorites" :key="index">
                <li v-html="favorite"></li>
            </ul>
            <div v-if="errors" id="errors">
                <span>Erreurs : </span>
                <p v-html="errors"></p>
            </div>
        </div>
        <div>
            <multiselect v-model="datasArray" :options="allDatas" :multiple="true" :close-on-select="true"
                        :clear-on-select="false" :hide-selected="true" :preserve-search="false" :allowEmpty="true" placeholder="Pick some">
            </multiselect>
            <button v-html="btn" v-on:click="change"></button>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
/* doc : https://github.com/axios/axios */
import axios from 'axios';
/* doc : https://vue-multiselect.js.org/#sub-getting-started */
import Multiselect from 'vue-multiselect';

// Enregistrement du composant globalement
Vue.component('multiselect', Multiselect)

export default {
    name: 'test-vue',
    props: {
        elem: String,
        datas: Array
    },
    components: {
        Multiselect
    },
    data: function() {
        return {
            elem1: this.elem,
            favorites: this.datas,
            datasArray: this.datas,
            numb: 0,
            allDatas: null,
            btn: 'Enregistrer mes fruits préférés',
            errors: null
        }
    },
    created: function() {
        let otherDatas = ['Banane', 'Kiwi', 'Framboise', 'Fraise'];
        this.allDatas = this.datasArray.concat(otherDatas);
    },
    methods: {
        plus() {
            this.numb += 1;
        },
        less() {
            this.numb -= 1;
        },
        change() {
            /* https://github.com/axios/axios#using-applicationx-www-form-urlencoded-format */
            const params = new URLSearchParams();
            params.append('datas', this.datasArray);

            axios.post('test/change-datas', params).then(response => {
                this.favorites = response.data
            }).catch(error => {
                this.errors = error.response.data
            });
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    span.test-vue {
        font-family: fantasy;
        color: sandybrown;
        font-size: large;
        font-weight: bold;
    }

    #errors {
        color: red;
    }
</style>
