<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">DicoTech</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">A<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">C</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">D</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-secondary">Ajouter</button>
        </nav>
    </div>
</template>

<script>

import Vue from "vue";

export default {
    name: 'vueMenu',
}

</script>

